<a href="https://colab.research.google.com/github/gradycoker/gradycoker-khs-github.io/blob/main/Copy_of_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functions Practice

Q1. Write a function that returns the string 'Hello World'.

In [1]:
def hello_world():
    return 'Hello World'

Q2. Write a function called `greet` that takes a name as an argument and returns a greeting, e.g., greet('Alice') should return "Hello, Alice!". The formatting should look like the following:
```
greet('Alice')
>> Hello, Alice!
```

Q3. Write a function called `add` that takes two numbers and returns their sum.
```
add(2, 3)
>> 5
```

Q4. Write a function called `circle_area` that takes the radius of a circle as an argument and returns its area. <br>
(Use 3.14 as an approximation for Ï€).

```
circle_area(10)
>> 314
```

In [ ]:
def circle_area(x):
    return x*x*3.14
circle_area()

28.26

Q5. Write a function called `is_even` that determines if a number is odd or even.
```
is_even(4)
>> True
```

In [ ]:
def is_even(x):
    return x%2== 0

is_even()

False

Q6. Write a function that computes the factorial of a number. (i.e., 4 factorial is 4\*3\*2\*1, 5 factorial is 5\*4\*3\*2\*1)
```
factorial(4)
>> 24
```

In [ ]:

def factorial(x):
    if x==0 :
        return 1
    else:
       return x * factorial(x-1)


factorial(4)

24

Q7. Write a function that reverses a string.
```
reverse_string('Hello')
>> 'olleH'
```

In [2]:
txt = "hello"[::-1]
print(txt)
str_= "world"
reverse_string1= str_ [::-1]
print(reverse_string1)
def reverse_string(string):
    string_2=""
    for i in range (-1*len(string),0):
        index= (i*-1)-1
        character= string[index]
        string_2 = string_2 + character
    return string_2
reverse_string("hello")

olleh
dlrow

'olleh'

In [3]:
str_7= "Grady"
print(str_7[3])

d

Q8. Write a function that counts the number of vowels in a string.
```
count_vowels('Hello')
>> 2
```

In [ ]:
x=9
if x == 1:
    print("k")
elif x != 1:
    print("3")

3

Q9. Write functions to find the maximum, minimum, and average of a list of numbers.
```
find_max([4, 5, 6, 7])
>> 7
```

In [ ]:
list_9 = [4,5,6,7]
def mean (list):
    return sum(list_9)/len(list_9)
mean(list_9)

5.5

In [ ]:
def find_max:[A,Z,Y,X]:
    print(max(find_max))
find_max:[A=3,Z=4,Y=5,X=6]
A=3
Z=4
Y=5
X=6

SyntaxError: ignored

Q10. Write a function that returns the nth number in the Fibonacci sequence.

```
fibonacci(3)
>> 1
```

In [ ]:
from IPython.utils.path import random
from random import randint
x = randint(0, 100)
c= int(input())
while True:
    if x>c:
        print("the number is higher than that")
        c=int(input())
    elif x<c:
        print("the number is lower than that")
        c=int(input())
    elif x==c:
        print("you got number")
        break

90
the number is lower than that
80
the number is lower than that
70
the number is higher than that
75
the number is lower than that
73
you got number

In [ ]:

a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
y= (b**2)-(4*a*c)
r= y**(1/2)
x_1= (b*-1)+r
x_2= (b*-1)-r
intercept1=x_1/ (2*a)
intercept2=x_2/ (2*a)
results= intercept1, intercept2
print(results)

a=1
b=1
c=1
((-0.49999999999999994+0.8660254037844386j), (-0.5-0.8660254037844386j))

NameError: ignored

In [ ]:
def fibonacci(n):
    fibonacci_sequence=[0,1,2]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2] + fibonacci_sequence[-3]
        fibonacci_sequence.append(next_number)
    return fibonacci_sequence
n=10
x=fibonacci(n)
print(x)

[0, 1, 2, 3, 6, 11, 20, 37, 68, 125]

In [ ]:
from time import sleep as sl
from random import randint as rnt
abc ="abcdefghijklmnopqrstuvwxyz "
word = ""
almost_word = ""
for letter in word:
    randletter = abc[rnt(0, len(abc) - 1)]
    while randletter != letter:
        randletter = abc[rnt(0, len(abc) - 1)]
        print(almost_word + randletter)
        sl(1/15)
    else:
        almost_word += randletter

hh